<ul class="quotes">
  <% for(var i=0; i<users.length; i++) {%>
    <li class="quote">
      <span><%= users[i].full_name %></span>
      <span><%= users[i].wechat_name %></span>
    </li>
  <% } %>
</ul>